body{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

#add-target{
  width: 150px;;
}

#noteBody{
  min-width: 235px;
  max-width: 235px;
  min-height: 150px;
  max-height: 150px;
  border: none;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
}

#noteTitle{
  border: none;
  min-width: 235px;
  max-width: 235px;
  padding: 15px;
  border-top-left-radius: 5px;
  border-radius: 5px 5px 0px 0px;
}